body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    min-height: 100vh;
    background: #1e1e1e;
}


.container {
    margin: 50px auto;
    position: relative;
    overflow: hidden;

}

.container-field {
    width: 300px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    bottom: 0;

}

.exel {
    border: 1px solid black;
    width: 30px;
    min-height: 30px;
    background: rgba(264, 102, 412, 0.801);
}